.gfnr {
  display: inline-flex;
  position: absolute;
  left: 0;
  bottom: -45px;
  background-color: black;
  border: 1px solid #76b900;
  box-shadow: 2px 1px 1px #76b900;
  padding: 8px;
  z-index: 99;
}

.gfnr__link {
  display: block;
}

.gfnr__logo {
  width: 144px;
  height: 24px;
}

@media screen and (max-width: 910px) {
  .gfnr {
    display: none;
  }
}
