.gfnr {
  display: inline-flex;
  position: absolute;
  left: 18px;
  bottom: -48px;
  z-index: 99;
}

.gfnr__link {
  display: block;
}

.gfnr__btn {
  width: 128px;
  height: 28px;
}

@media screen and (max-width: 910px) {
  .gfnr {
    display: none;
  }
}
